---
import Header from '../components/Header.astro';
import MainContent from '../components/MainContent.astro';
import Footer from '../components/Footer.astro';


---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best AstroJS Course 2025 [Frequently Updated]</title>
    <meta name="description" content="Join the best AstroJS course 2025. You learn modern web development, build fast sites, and become a pro with Astro." />
  
  <body>
    <Header />
    

    <MainContent />
    <Footer />
  </body>
</html>
