---

---

<button id="theme-toggle"></button>

<script client:load>

const btn = document.getElementById('theme-toggle');

const moonIcon = '<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none" width="24" height="24"><path d="M21 12.79A9 9 0 1111.21 3a7 7 0 109.79 9.79z"/></svg>';
const sunIcon =  '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" width="24" height="24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m8-9h-1m-16 0H3m15.364-7.364l-.707.707M6.343 17.657l-.707.707m12.728 0l-.707-.707M6.343 6.343l-.707-.707M12 5a7 7 0 110 14 7 7 0 010-14z" /></svg>';

let theme = localStorage.getItem('theme') || 'dark';

document.documentElement.setAttribute('data-theme', theme)

btn.innerHTML = theme === 'light' ? moonIcon : sunIcon;

btn.addEventListener('click', () => {
    theme = theme === 'light' ? 'dark' : 'light';

    document.documentElement.setAttribute('data-theme', theme)

    localStorage.setItem('theme', theme);

    btn.innerHTML = theme === 'light' ? moonIcon : sunIcon; 
});


</script>


<style global>

     /* Light theme styles */
    [data-theme="light"] {
      background-color: #fff;
      color: #000;
    }
    
    /* Dark theme styles */
    [data-theme="dark"] {
      background-color: #000;
      color: #fff;
    }
    
    /* Button styling */
    button {
      padding: 8px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
    
    /* Ensure the SVG icons display properly */
    button svg {
      display: block;
    }

</style>
  
